[submodule "vimfiles/bundle/neobundle.vim"]
	path = vimfiles/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
[submodule "vimfiles/bundle/gundo.vim"]
	path = vimfiles/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule "vimfiles/bundle/jellybeans.vim"]
	path = vimfiles/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/powerline"]
	path = vimfiles/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vimfiles/bundle/Unite.vim"]
	path = vimfiles/bundle/Unite.vim
	url = https://github.com/Shougo/Unite.vim.git
[submodule "vimfiles/bundle/neocomplcache"]
	path = vimfiles/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "vimfiles/bundle/neosnippet"]
	path = vimfiles/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.git
[submodule "vimfiles/bundle/neosnippet-snippets"]
	path = vimfiles/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule "vimfiles/bundle/unite-outline"]
	path = vimfiles/bundle/unite-outline
	url = https://github.com/Shougo/unite-outline.git
[submodule "vimfiles/bundle/vim-hybrid"]
	path = vimfiles/bundle/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "vimfiles/bundle/jedi-vim"]
	path = vimfiles/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vimfiles/bundle/vim-python-pep8-indent"]
	path = vimfiles/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "vimfiles/bundle/flake8-vim"]
	path = vimfiles/bundle/flake8-vim
	url = https://github.com/andviro/flake8-vim.git
[submodule "vimfiles/bundle/vim-smartinput"]
	path = vimfiles/bundle/vim-smartinput
	url = https://github.com/kana/vim-smartinput.git
[submodule "vimfiles/bundle/eclim"]
	path = vimfiles/bundle/eclim
	url = https://github.com/ervandew/eclim.git
