[credential]
  helper = /usr/share/doc/git/contrib/credential/netrc/git-credential-netrc

[alias]
  lg = log --graph --oneline --decorate=full --branches --tags --remotes

[core]
  editor = vim
  quotepath = false

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[difftool "vimdiff"]
  cmd = "vim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""

[merge]
  tool = vimdiff

[mergetool]
  keepBackup = false

[mergetool "vimdiff"]
  cmd = "vim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""

