[alias]
  lg = log --graph --oneline --decorate=full --branches --tags --remotes

[core]
  editor = vim
  quotepath = false

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[include]
  path = ~/.config/git/local.config

[includeIf "gitdir:~/src/github.com/"]
  path = ~/.config/git/github.config

[includeIf "gitdir:~/src/gitlab.com/"]
  path = ~/.config/git/gitlab.config

[merge]
  tool = vimdiff

[mergetool]
  keepBackup = false
