services:
  dev:
    image: dnvim:latest
    build:
      context: ${DOTFILES_CONFIG_DIR}
      dockerfile: .config/docker/dnvim/Dockerfile
      args:
        - UID=${USER_UID:-1000}
        - GID=${USER_GID:-1000}
    volumes:
      - .:/workspace:cached
      # credentials
      - $HOME/.config/github-copilot:/home/ubuntu/.config/github-copilot:ro # neovim の copilot.lua の認証情報の共有
      # config
      - $DOTFILES_CONFIG_DIR:/home/ubuntu/dotfiles:ro
      - $DOTFILES_CONFIG_DIR/.config/nvim:/home/ubuntu/dotfiles/.config/nvim
    environment:
      - GITHUB_TOKEN=${GITHUB_TOKEN:-""}
      - COPILOT_GITHUB_TOKEN=${COPILOT_GITHUB_TOKEN:-${GITHUB_TOKEN:-""}}
      - MISE_TRUSTED_CONFIG_PATHS=/workspace:~/dotfiles/.config/mise/config.toml:~/dotfiles/mise.toml
    working_dir: /workspace
    mem_limit: 4g
    tty: true
    stdin_open: true

volumes:
  cache-aws-cli:
  cache-copilot:
  cache-copilot-config:
  cache-go-build:
  cache-go-pkg:
  cache-golangci-lint:
  cache-gopls:
  cache-node-gyp:
  cache-npm:
  cache-nvim:
  cache-pip:
  cache-uv:
