services:
  dev:
    image: dnvim:latest
    build:
      context: ${DOTFILES_CONFIG_DIR}
      dockerfile: .config/docker/dnvim/Dockerfile
    volumes:
      - .:/workspace:cached
      - $HOME/.config/github-copilot:/home/ubuntu/.config/github-copilot:ro # neovim の copilot.lua の認証情報の共有
      - $DOTFILES_CONFIG_DIR:/home/ubuntu/dotfiles:ro
    environment:
      - GITHUB_TOKEN=${GITHUB_TOKEN:-""}
    working_dir: /workspace
    tty: true
    stdin_open: true
