<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" version="9.38" />
  <package id="adobereader" version="2015.007.20033" />
  <package id="Atom" version="1.0.7" />
  <package id="autohotkey.portable" version="1.1.22.07" />
  <package id="chocolatey" version="0.9.9.9" />
  <package id="ChocolateyGUI" version="0.13.1" />
  <package id="DotNet3.5" version="3.5.20140403" />
  <package id="dropbox" version="3.8.9" />
  <package id="eclipse" version="4.5" />
  <package id="Evernote" version="5.8.5.7193" />
  <package id="flashplayeractivex" version="19.0.0.185" />
  <package id="git.install" version="2.6.0" />
  <package id="google-chrome-x64" version="45.0.2454.101" />
  <package id="javaruntime" version="8.0.40" />
  <package id="jdk8" version="8.0.6001" />
  <package id="jre8" version="8.0.60.20150902" />
  <package id="picasa" version="3.9.0.1" />
  <package id="PowerShell" version="4.0.20141001" />
  <package id="python3" version="3.4.3.20150501" />
  <package id="SourceTree" version="1.6.14" />
  <package id="steam" version="1.0.0.5" />
  <package id="unity" version="5.1.1" />
  <package id="VisualStudioExpress2013WindowsDesktop" version="12.0.21005.1" />
</packages>