services:
  dev:
    image: dcopilot:latest
    build:
      context: ${DOTFILES_CONFIG_DIR}
      dockerfile: .config/docker/dcopilot/Dockerfile
      args:
        - UID=${USER_UID:-1000}
        - GID=${USER_GID:-1000}
    volumes:
      - .:/workspace
      # cache
      - cache-copilot:/home/ubuntu/.copilot
      - cache-copilot-config:/home/ubuntu/.config/.copilot
    environment:
      - GITHUB_TOKEN=${GITHUB_TOKEN:-""}
      - MISE_TRUSTED_CONFIG_PATHS=/workspace:~/dotfiles/.config/mise/config.toml:~/dotfiles/mise.toml
    working_dir: /workspace
    tty: true
    stdin_open: true

volumes:
  cache-copilot:
  cache-copilot-config:
