[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pynvim = "==0.4.0"
simplewebsocketserver = "==0.1.1"
slugify = "==0.0.1"

[requires]
python_version = "3.7"
