[alias]
  lg = log --graph --oneline --decorate=full --branches --tags --remotes

[core]
  editor = code --wait

[credential]
  helper = /usr/share/doc/git/contrib/credential/netrc/git-credential-netrc -f ~/.netrc.gpg get

[diff]
  tool = codediff

[difftool]
  prompt = false

[difftool "codediff"]
  cmd = code --wait --diff $LOCAL $REMOTE

[merge]
  tool = codediff

[mergetool]
  keepBackup = false

[mergetool "codediff"]
  cmd = code \"$MERGED\"
